{
  "add-device-discovery-rule-by-ip-request" : {
    "discovery-profile-name" : "{{ ansible_host }}" ,
    "use-ping" : false ,
    "use-nat" : false ,
    "use-snmp" : true ,
    "sharable" : true ,
    "device-targets" : {
      "device-target" : {
        "ip-address" : "{{ ansible_host }}" ,
        "device-ssh-credentials" : {
          "@total" : 1 ,
          "device-ssh-credential" : {
            "username" : "{{ lookup('env', 'ANSIBLE_NET_USERNAME') }}" ,
            "keybased" : false ,
            "credential-type" : "CREDENTIAL_BASED" ,
            "password" : "{{ lookup('env', 'ANSIBLE_NET_PASSWORD') }}"
          }
        }
      }
    },
    "device-snmp-details" : {
      "authentication-password" : "{{ snmp_auth_pass }}" ,
      "privacy-password" : "{{ snmp_priv_pass }}" ,
      "user-name" : "{{ snmp_auth_user }}" ,
      "snmp-auth-type" : "{{ snmp_auth_type }}" ,
      "privacy-type" : "{{ snmp_priv_type }}"
    },
    "device-snmp-version" : "SNMPV3"
  }
}
